@import 'Advent-Pro.css';
@import 'Marquee-Moon.css';

/*For smaller screen devices*/

.container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10vh 5vh 6vh auto;
    grid-template-areas: "lg" "tt" "nb" "main" "ft";
}

.box {
    /*border: 2px solid salmon;*/
    background: white;
}

.logo {
    grid-area: lg;
    padding: 8px;
    text-align: center;
}

#logo-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
}

.title {
    grid-area: tt;
}

#head {
    color: #6D7191;
    font-family: "marquee_moonregular";
    text-align: center;
    font-size: 32px;
    word-spacing: 10px;
    line-height: 2;
}

.nav-bar {
    grid-area: nb;
    padding: 1.3em;
    line-height: 1.5;
    word-spacing: 45px;
    text-align: center;
}

.link {
    color: #6D7191;
    text-decoration: overline;
    font-family: "advent_proregular";
    font-size: 20px;
}

.content {
    display: grid;
    justify-items: center;
    grid-area: main;
    background-color: #f894a4;
    background-image: linear-gradient(315deg, #f894a4 0%, #f9d1b7 74%);
    padding: 100px;
}

.nested-post {
    display: grid;
    grid-template-columns: 400px;
    grid-template-rows: repeat(4, 150px);
    grid-template-areas: "one" "two" "three" "four";
    grid-gap: 80px;
    padding: 80px;
}

.post {
    border: 6px solid white;
    border-style: double;
    display: flex;
    text-decoration: none;
    display:flex;
}

#post-one {
    grid-area: one;
}

#post-two {
    grid-area: two;
}

#post-three {
    grid-area: three;
}

#post-four {
    grid-area: four;
}

.post-info {
    display: contents;
}

.post-image {
    height: 100%;
}

.post-title {
    padding: 10px;
    color: #6D7191;
    font-family: 'advent_promedium';
    font-size: 30px;
}

.footer {
    grid-area: ft;
}

.icon-bar {
    font-size: 50px;
    text-align: end;
    padding-right: 20px;
}

.icon-bar a:hover {
    margin-top: 5px;
    cursor: pointer;
    color: #6D7191;
    word-spacing: 5px;
}

.facebook {
    background: white;
    color: #3B5998;
}

.instagram {
    color: #dc2743;
    background: white;
}

.twitter {
    background: white;
    color: #55ACEE;
}

.google {
    background: white;
    color: #dd4b39;
}

.linkedin {
    background: white;
    color: #007bb5;
}

.youtube {
    background: white;
    color: #bb0000;
}

#copyright {
    display: inline-block;
}

/* 600px - 900px width Screen
@media(min-width: 600px) and (max-width: 900px){
    .container{
        display:grid;
        grid-template-columns: 100%;
        grid-template-rows: 120px 70px 70px 1000px;
        grid-template-areas:
        "lg lg lg lg"
        "tt tt tt tt"
        "nb nb nb nb"
        "main main main main"
        "ft ft ft ft";
    }
}*/

/* above 1000px width Screen*/

@media(min-width: 1001px) {
    .container {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 12vh 8vh 10vh auto;
        grid-template-areas: "lg lg lg lg lg lg lg lg" "tt tt tt tt tt tt tt tt" "nb nb nb nb nb nb nb nb" "main main main main main main main main" "ft ft ft ft ft ft ft ft";
    }
    #logo-image {
        height: 120px;
    }
    .title {
        padding: none;
    }
    #head {
        font-size: 50px;
        word-spacing: 50px;
    }
    .nav-bar {
        line-height: 2.2;
        word-spacing: 90px;
    }
    .link {
        font-size: 26px;
    }
    .nested-post {
        grid-template-columns: 400px 400px;
        grid-template-rows: 150px 150px;
        grid-template-areas: "one two" "three four";
        grid-gap: 50px;
        padding: 40px;
    }
}