@import 'style.css';
@import 'post.css';

#gradient-yellow-one {
    background-color: #fbb034;
    background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
}

#gradient-yellow-two {
    background-color: #ef5734;
    background-image: linear-gradient(315deg, #ef5734 0%, #ffcc2f 74%);
}

#gradient-yellow-three {
    background-color: #b3dfa1;
    background-image: linear-gradient(315deg, #b3dfa1 0%, #f0e703 74%);
}

#gradient-yellow-four {
    background-color: #d99058;
    background-image: linear-gradient(315deg, #d99058 0%, #f8de7e 74%);
}

#gradient-yellow-five {
    background-color: #b5c327;
    background-image: linear-gradient(315deg, #b5c327 0%, #ffc907 74%);
}

#gradient-yellow-six {
    background-color: #eaf818;
    background-image: linear-gradient(315deg, #eaf818 0%, #f6fc9c 74%);
}

#gradient-yellow-seven {
    background-color: #fec84e;
    background-image: linear-gradient(315deg, #fec84e 0%, #ffdea8 74%);
}

#gradient-yellow-eight {
    background-color: #fff293;
    background-image: linear-gradient(315deg, #fff293 0%, #ffe884 74%);
}